In [ ]:
import pandas as pd

# Explore Data

In [ ]:
df=pd.read_excel("Employee Sample Data - A.xlsx")

In [ ]:
df.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55.0,2016-04-08,141604.0,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59.0,1997-11-29,99975.0,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50.0,2006-10-26,163099.0,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55.0,1995-11-20,95409.0,0.00,United States,Phoenix,NaT

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      998 non-null    object
 2   Job Title      999 non-null    object
 3   Department     998 non-null    object
 4   Business Unit  1000 non-null   object
 5   Gender         999 non-null    object
 6   Ethnicity      993 non-null    object
 7   Age            994 non-null    float64
 8   Hire Date      993 non-null    datetime64[ns]
 9   Annual Salary  989 non-null    float64
 10  Bonus %        992 non-null    float64
 11  Country        998 non-null    object
 12  City           998 non-null    object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(9)
memory usage: 109.5+ KB

# Clean Data

In [ ]:
df=df.drop_duplicates()
df

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55.0,2016-04-08,141604.0,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59.0,1997-11-29,99975.0,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50.0,2006-10-26,163099.0,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55.0,1995-11-20,95409.0,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33.0,2016-09-18,98427.0,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44.0,2010-05-31,47387.0,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31.0,2019-06-10,176710.0,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33.0,2012-01-28,95960.0,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63.0,2020-07-26,216195.0,0.31,United States,Miami,NaT

In [ ]:
df=df.dropna(subset=["Full Name","Department","Job Title"])

In [ ]:
cat_cols = [
    "Gender",
    "Ethnicity", "Country", "City"
]

for col in cat_cols :
  df[col]=df[col].fillna(df[col].mode()[0])

/tmp/ipython-input-2562295567.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=df[col].fillna(df[col].mode()[0])

In [ ]:
num_cols=["Age","Annual Salary","Bonus %"]

for col in num_cols:
  df[col]=df[col].fillna(df[col].median())

/tmp/ipython-input-3991916837.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=df[col].fillna(df[col].median())

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 995 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           995 non-null    object
 1   Full Name      995 non-null    object
 2   Job Title      995 non-null    object
 3   Department     995 non-null    object
 4   Business Unit  995 non-null    object
 5   Gender         995 non-null    object
 6   Ethnicity      995 non-null    object
 7   Age            995 non-null    float64
 8   Hire Date      988 non-null    datetime64[ns]
 9   Annual Salary  995 non-null    float64
 10  Bonus %        995 non-null    float64
 11  Country        995 non-null    object
 12  City           995 non-null    object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(9)
memory usage: 116.6+ KB

# Modify the first 5 rows

In [ ]:
df.loc[0,"Department"]="Finance"

In [ ]:
df.loc[0,"Business Unit"]="Speciality Products"

In [ ]:
df.loc[1,"Exit Date"]="2016-04-08 00:00:00"

In [ ]:
df.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,Finance,Speciality Products,Female,Black,55.0,2016-04-08,141604.0,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59.0,1997-11-29,99975.0,0.00,China,Chongqing,2016-04-08
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50.0,2006-10-26,163099.0,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55.0,1995-11-20,95409.0,0.00,United States,Phoenix,NaT

In [ ]:
df.loc[1,"Bonus %"]=0.5

In [ ]:
df.loc[4,"Bonus %"]=0.5

In [ ]:
df.loc[1,"Exit Date"]="2019-10-08 00:00:00"

# Maximum Annual Salary

In [ ]:
df.loc[df["Annual Salary"].idxmax()]

EEID                          E04354
Full Name               Raelynn Rios
Job Title             Vice President
Department                     Sales
Business Unit          Manufacturing
Gender                        Female
Ethnicity                     Latino
Age                             43.0
Hire Date        2016-08-21 00:00:00
Annual Salary               258498.0
Bonus %                         0.35
Country                United States
City                        Columbus
Exit Date                        NaT
Name: 989, dtype: object

# Avarage age and annual salary grouped by Department

In [ ]:
df.groupby("Department")[["Age","Annual Salary"]].mean()

                       Age  Annual Salary
Department
Accounting       43.656250  123146.947917
Engineering      45.751592  108440.369427
Finance          45.208333  122986.479167
Human Resources  44.443548  117907.338710
IT               44.256303   97618.808824
Marketing        43.216667  129663.033333
Sales            43.614286  111120.746429

# Maximum age grouped by Department and Ethnicity

In [ ]:
df.groupby(["Department","Ethnicity"])["Age"].max()

Department       Ethnicity
Accounting       Asian        64.0
                 Black        51.0
                 Caucasian    62.0
                 Latino       62.0
Engineering      Asian        65.0
                 Black        56.0
                 Caucasian    64.0
                 Latino       64.0
Finance          Asian        64.0
                 Black        65.0
                 Caucasian    64.0
                 Latino       65.0
Human Resources  Asian        64.0
                 Black        55.0
                 Caucasian    64.0
                 Latino       65.0
IT               Asian        65.0
                 Black        61.0
                 Caucasian    65.0
                 Latino       64.0
Marketing        Asian        65.0
                 Black        65.0
                 Caucasian    65.0
                 Latino       65.0
Sales            Asian        64.0
                 Black        65.0
                 Caucasian    63.0
                 Latino       61.0
Name: Age, dtype: float64

# Minimum age grouped by Department and Ethnicity

In [ ]:
df.groupby(["Department","Ethnicity"])["Age"].min()

Department       Ethnicity
Accounting       Asian        25.0
                 Black        30.0
                 Caucasian    26.0
                 Latino       26.0
Engineering      Asian        25.0
                 Black        27.0
                 Caucasian    25.0
                 Latino       27.0
Finance          Asian        25.0
                 Black        25.0
                 Caucasian    25.0
                 Latino       25.0
Human Resources  Asian        25.0
                 Black        25.0
                 Caucasian    26.0
                 Latino       29.0
IT               Asian        25.0
                 Black        28.0
                 Caucasian    26.0
                 Latino       25.0
Marketing        Asian        25.0
                 Black        27.0
                 Caucasian    25.0
                 Latino       29.0
Sales            Asian        25.0
                 Black        26.0
                 Caucasian    26.0
                 Latino       26.0
Name: Age, dtype: float64

Median for annual salary grouped by Department and Ethnicity

In [ ]:
df.groupby(["Department","Ethnicity"])["Annual Salary"].median()

Department       Ethnicity
Accounting       Asian        114893.00
                 Black         91853.00
                 Caucasian    121159.50
                 Latino        92317.00
Engineering      Asian         91782.00
                 Black         74412.00
                 Caucasian     95639.00
                 Latino        96818.00
Finance          Asian        123909.00
                 Black        131652.00
                 Caucasian    102847.00
                 Latino       124553.00
Human Resources  Asian        125871.50
                 Black        142318.00
                 Caucasian    100372.25
                 Latino       101985.00
IT               Asian         90652.50
                 Black         74834.50
                 Caucasian     82907.00
                 Latino        83403.00
Marketing        Asian        147752.00
                 Black         86075.50
                 Caucasian    113135.00
                 Latino        97063.50
Sales            Asian         95372.00
                 Black         94246.00
                 Caucasian     96092.00
                 Latino       113269.00
Name: Annual Salary, dtype: float64